.return {
  display: flex;
  height: 29px;
  width: 50vw;
  position: fixed;
  top: 3vh;
  left: 3vw;
}

.return-element {
  display: flex;
  align-items: center;
}

.image-size {
  height: 11px;
  width: 12px;
}