.return {
  display: flex;
  height: 29px;
  width: auto;
  position: fixed;
  top: 25px;
  left: 29px;
  z-index: 11;
}

.return-element {
  display: flex;
  align-items: center;
}

.image-size {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.block-selection {
  user-select: none;
}