.text_left {
  display: flex;
  justify-content: flex-start;
}

.text_right {
  display: flex;
  justify-content: flex-end;
}

.margin-story {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  .related-text {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .font-size-information {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    height: 18px;
  }

  .font-size-information-text {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .related-text {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .font-size-information {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    height: 18px;
  }

  .font-size-information-text {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 899px) {
  .related-text {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .font-size-information {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    height: 18px;
  }

  .font-size-information-text {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 699px) {
  .related-text {
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .font-size-information {
    font-size: 11px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    height: 15px;
  }

  .font-size-information-text {
    font-size: 11px;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 15px;
  }
}
