.text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: -4px;
  letter-spacing: 0.02em;
  color: black;
}

.menu-layout {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 100;
}

.menu-header {
  height: 10vh;
  display: flex;
  width: 98%;
  justify-content: flex-end;
  align-items: center;
}

.menu-content {
  height: calc(100vh - 10vh);
  margin-left: 32px;
  margin-right: 32px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.menu-transition {
  transition: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.space-between-element {
  padding-bottom: 16px;
}

.text-margin {
  margin: 0 1rem 1rem 1rem;
}
