.loader {
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
  
  .rotated-half-circle {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }