.illustration {
    height: 35px;
    position: absolute;
    display: flex;
  }
  
  .story {
    height: 20px;
    position: absolute;
    display: flex;
  }
  
  .story-related {
    top: 35px;
  }
  
  @media only screen and (min-width: 1200px) {
    .index-text-font {
      font-size: 48px;
    }
  
    .related-text {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
    }
  
    .font-size-information {
      text-align: start;
      font-size: 15px;
    }
  
    .image-information {
      font-size: 15px;
      margin: 0;
      display: contents;
      text-transform: uppercase;
    }
  
    .return-position {
      margin-left: 60px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .index-text-font {
      font-size: 48px;
    }
  
    .related-text {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
    }
  
    .font-size-information {
      text-align: start;
      font-size: 15px;
    }
  
    .image-information {
      font-size: 15px;
      margin: 0;
      display: contents;
      text-transform: uppercase;
    }
  
    .return-position {
      margin-left: 60px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  @media only screen and (min-width: 700px) and (max-width: 899px) {
    .index-text-font {
      font-size: 48px;
    }
  
    .related-text {
      margin-bottom: 0;
      font-size: 15px;
      font-weight: normal;
      text-transform: uppercase;
    }
  
    .font-size-information {
      text-align: start;
      font-size: 15px;
    }
  
    .image-information {
      font-size: 15px;
      margin: 0;
      display: contents;
      text-transform: uppercase;
    }
  
    .return-position {
      margin-left: 60px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  @media only screen and (min-width: 300px) and (max-width: 699px) {
    .index-text-font {
      font-size: 15px;
    }
  
    .related-text {
      margin-bottom: 0px;
      font-size: 10px;
      font-weight: normal;
      text-transform: uppercase;
    }
  
    .font-size-information {
      text-align: start;
      font-size: 11px;
    }
  
    .image-information {
      font-size: 11px;
      margin: 0;
      display: contents;
      text-transform: uppercase;
    }
  
    .return-position {
      margin-left: 30px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }