h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
}

.overflow {
  overflow-x: hidden;
  overflow-y: auto;
}

.collapse-transition {
  transition: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.menu-item {
  display: flex;
  position: absolute;
  top: 1vh;
  width: 98vw;
  justify-content: flex-end;
}

.more-link {
  font-weight:normal; 
  text-decoration:none;
  color: #000;
  border-bottom: 1px solid #000;
 }
 
 .more-link:hover {
   transition-duration: 300ms;
   transition-property: transform;
   transform: rotate(40deg);
 }

.padding {
  padding: 0;
}

.el-carousel__item.is-animating {
  transition: transform 0.5s ease-in-out;
}
