.zoomTransitionImageSlow {
  opacity: 0.9;
}

.zoomTransitionImageMedium {
  opacity: 0.8;
}

.zoomTransitionImageFast {
  animation: maskTransitionImageFast 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes maskTransitionImageFast {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 80%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 74%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 68%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 60%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 56%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 48%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 44%
    );
  }
  100% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
}

.unzoomTransitionImageFast {
  animation: unMaskTransitionImageFast 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes unMaskTransitionImageFast {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 46%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 58%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 70%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 82%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 88%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 94%
    );
  }
  100% {
    opacity: 0.8;
  }
}

.unzoomTransitionImageFastEnd {
  animation: unMaskTransitionImageFastEnd 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes unMaskTransitionImageFastEnd {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 46%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 58%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 70%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 82%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 88%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 94%
    );
  }
  100% {
    mask-image: unset;
  }
}
