.ul-image {
  display: block;
}

.v-zoom {
  height: 100%;
  width: 100%;
  transform: scale(2);
}

.v-unzoom {
  height: 100%;
  width: 100%;
  transform: scale(1.5);
  transition: transform 20s linear;
  transition-delay: 3s;
}

.el-slider__bar {
  background-color: unset;
}

.el-slider__runway {
  background-color: unset;
}

.v-start .el-slider__button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  background: url("../../assets/gui-chevron-up.png"),
    url("../../assets/gui-chevron-down.png");
  background-position-x: -1px, 12px;
  background-position-y: 5%, 95%;
  background-repeat: no-repeat, no-repeat;
  background-size: 0%, 40%;
  border-color: #c0c4cc;
  border: 1px #c0c4cc;
  height: 100%;
  width: 42px;
  min-width: 10px;
  max-width: 200px;
  min-height: 100px;
  max-height: 300px;
  background-color: inherit;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);

  height: 150px;
}

.v-normal .el-slider__button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  background: url("../../assets/gui-chevron-up.png"),
    url("../../assets/gui-chevron-down.png");
  background-position-x: 12px, 12px;
  background-position-y: 5%, 95%;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 40%;
  border-color: #c0c4cc;
  border: 1px #c0c4cc;
  height: 100%;
  width: 100%;
  min-width: 10px;
  max-width: 200px;
  min-height: 100px;
  max-height: 300px;
  background-color: inherit;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);

  height: 150px;
}

.v-end .el-slider__button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  background: url("../../assets/gui-chevron-up.png"),
    url("../../assets/gui-chevron-down.png");
  background-position-x: 12px, 1px;
  background-position-y: 5%, 95%;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 0%;
  border-color: #c0c4cc;
  border: 1px #c0c4cc;
  height: 100%;
  width: 100%;
  min-width: 10px;
  max-width: 200px;
  min-height: 100px;
  max-height: 300px;
  background-color: inherit;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);

  height: 150px;
}


.el-slider__button.hover {
  transform: scale(1);
}

.el-slider__button:hover {
  transform: scale(1);
}

.el-slider__button.dragging {
  transform: scale(1);
}

.el-slider__button-wrapper {
  height: 150px;
  background-color: white;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 40px;
}

.font-slider {
  background-color: rgb(192 196 204 / 29%);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 40px;
  height: 150px;
}

.el-slider.is-vertical {
  width: 55px;
}

.sliderMask {
  background-color: rgba(0, 0, 0, 1);
}
