.custom-image {
  height: 100%;
  width: 100%;
  transform: scale(2);
}

.index-font {
  size: 38px;
}

.data-information {
  text-align: start;
  font-weight: bold;
}

.el-carousel__item {
  overflow: hidden !important;
}

.el-carousel__item.is-active img {
  -webkit-transition: transform 20s ease;
  -moz-transition: transform 20s ease;
  -ms-transition: transform 20s ease;
  transition: transform 20s ease;
  transition-delay: 3s;
  transform: scale(1.5);
}

.el-carousel__item.is-animating {
  -webkit-transition: -webkit-transform 0.05s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
}

.el-carousel__indicators--vertical {
  width: 0px;
  height: 0px;
  pointer-events: none;
}

.el-slider__bar {
  background-color: unset;
}

.el-slider__runway {
  background-color: unset;
}

.el-slider__button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  background: url("../../assets/chevron_up.png"),
    url("../../assets/chevron_down.png");
  background-position-x: -1px, 1px;
  background-position-y: 5%, 95%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;

  border-color: #c0c4cc;
  border: 1px #c0c4cc;
  height: 100%;
  width: 100%;
  min-width: 10px;
  max-width: 200px;
  min-height: 100px;
  max-height: 300px;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.el-slider__button-wrapper {
  height: 100%;
  background-color: white;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.el-slider {
  background-color: rgb(192 196 204 / 29%);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.sliderMask {
  background-color: rgba(0, 0, 0, 1);
}
