.custom-image {
  height: 100%;
  width: 100%;
  transform: scale(2);
}

.custom-image .custom-carousel {
  margin-top: 0%;
  margin-bottom: 0%;
}

.el-carousel__item {
  overflow: hidden !important;
}

.el-carousel__item.is-active img {
  -webkit-transition: transform 20s ease;
  -moz-transition: transform 20s ease;
  -ms-transition: transform 20s ease;
  transition: transform 20s ease;
  transition-delay: 3s;
  transform: scale(1.5);
}

.el-carousel__item.is-animating {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.el-carousel__indicators--vertical {
  width: 0px;
  height: 0px;
  pointer-events: none;
}

.el-slider__bar {
  background-color: unset;
}

.el-slider__runway {
  background-color: unset;
}

.el-slider__button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  border-color: #c0c4cc;
  border: 1px #c0c4cc;
  height: 100%;
  width: 100%;
  min-width: 10px;
  max-width: 200px;
  min-height: 100px;
  max-height: 300px;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.el-slider__button-wrapper {
  height: 100%;
  background-color: white;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.el-slider {
  background-color: rgb(192 196 204 / 29%);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.sliderMask {
  background-color: rgba(0, 0, 0, 1);
}

.zoomTransitionImageSlow {
  opacity: 0.90;
}

.zoomTransitionImageMedium {
  opacity: 0.80;
}

.zoomTransitionImageFast {
  animation: maskTransitionImageFast 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes maskTransitionImageFast {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 80%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 74%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 68%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 60%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 56%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 48%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 44%
    );
  }
  100% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
}

.unzoomTransitionImageFast {
  animation: unMaskTransitionImageFast 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes unMaskTransitionImageFast {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 46%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 58%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 70%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 82%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 88%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 94%
    );
  }
  100% {
    opacity: 0.80;
  }
}

.unzoomTransitionImageFastEnd {
  animation: unMaskTransitionImageFastEnd 1.5s linear 0s normal forwards;
  animation-timing-function: ease;
}

@keyframes unMaskTransitionImageFastEnd {
  0% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 40%
    );
  }
  10% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 46%
    );
  }
  20% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 52%
    );
  }
  30% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 58%
    );
  }
  40% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 64%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 70%
    );
  }
  60% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 76%
    );
  }
  70% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 82%
    );
  }
  80% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 88%
    );
  }
  90% {
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0) 94%
    );
  }
  100% {
    mask-image: unset;
  }
}
