.v-museum-none {
  -webkit-transition: -webkit-transform none !important;
  -moz-transition: -moz-transition none !important;
  transition: -webkit-transform none !important;
  transition: -moz-transform none !important;
  transition: transform none !important;
}

.v-museum-end {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0, 1.6);
  -moz-transition: -moz-transition 1s cubic-bezier(0, 0, 0, 1.6);
  transition: -webkit-transform 1s cubic-bezier(0, 0, 0, 1.6);
  transition: -moz-transform 1s cubic-bezier(0, 0, 0, 1.6);
  transition: transform 1s cubic-bezier(0, 0, 0, 1.6);
}

.v-museum-025 {
  -webkit-transition: -webkit-transform 4s linear;
  -moz-transition: -moz-transition 4s linear;
  transition: -webkit-transform 4s linear;
  transition: -moz-transform 4s linear;
  transition: transform 4s linear;
  transition: transform 4s linear, -webkit-transform 4s linear;
  transition: transform 4s linear, -moz-transform 4s linear;
}
.v-museum-05 {
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transition 2s linear;
  transition: -webkit-transform 2s linear;
  transition: -moz-transform 2s linear;
  transition: transform 2s linear;
  transition: transform 2s linear, -webkit-transform 2s linear;
  transition: transform 2s linear, -moz-transform 2s linear;
}
.v-museum-075 {
  -webkit-transition: -webkit-transform 1.5s linear;
  -moz-transition: -moz-transition 1.5s linear;
  transition: -webkit-transform 1.5s linear;
  transition: -moz-transform 1.5s linear;
  transition: transform 1.5s linear;
  transition: transform 1.5s linear, -webkit-transform 1.5s linear;
  transition: transform 1.5s linear, -moz-transform 1.5s linear;
}
.v-museum-1 {
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transition 1s linear;
  transition: -webkit-transform 1s linear;
  transition: -moz-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  transition: transform 1s linear, -moz-transform 1s linear;
}
.v-museum-2 {
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transition 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: -moz-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  transition: transform 0.5s linear, -moz-transform 0.5s linear;
}

.v-museum-4 {
  -webkit-transition: -webkit-transform 0.25s linear;
  -moz-transition: -moz-transition 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: -moz-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  transition: transform 0.25s linear, -moz-transform 0.25s linear;
}

.v-museum-8 {
  -webkit-transition: -webkit-transform 0.125s linear;
  -moz-transition: -moz-transition 0.125s linear;
  transition: -webkit-transform 0.125s linear;
  transition: -moz-transform 0.125s linear;
  transition: transform 0.125s linear;
  transition: transform 0.125s linear, -webkit-transform 0.125s linear;
  transition: transform 0.125s linear, -moz-transform 0.125s linear;
}

.v-museum-16 {
  -webkit-transition: -webkit-transform 0.062s linear;
  -moz-transition: -moz-transition 0.62s linear;
  transition: -webkit-transform 0.062s linear;
  transition: -moz-transform 0.62s linear;
  transition: transform 0.062s linear;
  transition: transform 0.062s linear, -webkit-transform 0.062s linear;
  transition: transform 0.062s linear, -moz-transform 0.062s linear;
}

.v-museum-20 {
  -webkit-transition: -webkit-transform 0.05s linear;
  -moz-transition: -moz-transition 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  transition: -moz-transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
  transition: transform 0.05s linear, -moz-transform 0.05s linear;
}
